{# templates/product.html.twig #}

<style>
form {
  width: 75%;
  background: lightgray;
  margin: 0 auto;
}
</style>

<h3>Your product:</h3>
<form action="/edit/{{ id }}">
  <fieldset>
    <label for="name">id = {{ id }}</label><br>
    Name: <input type="text" id="name" name="name" value="{{ name }}"><br>
    <input type="submit" value="Submit">
  </fieldset>
</form>